.container__person-area {
    display: flex;
    flex-direction: column;
    margin: 0 45px;
}

.person-area__person-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.person-header__main-title {
    height: 48px;
    margin: 8px 0;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #151515;
}

.person-area__user-menu {
    height: 282px;
    flex: 0 1 269px;
}

.user-menu__title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #151515;
    margin-bottom: 16px;
}

.user-menu__category-list {
    display: block;
}

.category-list__menu-item {
    margin-bottom: 12px;
    height: 19px;
}

.menu-item__link {
    font-size: 14px;
    line-height: 19px;
    color: #6A983C;
}

.person-area__sandbox {
    position: relative;
    margin: 32px 0;
}
