.category__menu {
    /*height: 282px;*/
    min-width: 167px;
    flex: 0 1 269px;
    margin-right: 2em;
}

.menu__title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #151515;
    margin-bottom: 16px;
}

.menu__category-list {
    display: block;
}

.category-list__menu-item {
    margin-bottom: 12px;
    height: 19px;
}

.menu-item__link {
    font-size: 14px;
    line-height: 19px;
    color: #6A983C;
}
