.requisites-point__delivery-point {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 48px;
    background: #F9F9F9;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
}

.requisites-point__delivery-point.requisites-point__delivery-point_margin_top {
    margin-top: 16px;
}

.delivery-point__input {
    width: 100%;
    height: inherit;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.delivery-point__checkmark {
    position: absolute;
    top: 12px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #FFFFFF;
    border: 2px solid #D1D1D1;
    border-radius: 50%;
    margin-left: 16px;
}

.delivery-point__input:hover ~ .delivery-point__checkmark {
    background-color: #ccc;
}

.delivery-point__input:checked ~ .delivery-point__checkmark {
    background-color: #FFFFFF;
    border: 5px solid #6A983C;
}

.delivery-point__checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.delivery-point__input:checked ~ .delivery-point__checkmark:after {
    display: block;
}

.delivery-point__point-detail {
    width: 100%;
    display: flex;
    margin: 0 16px 0 56px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #151515;
}

.point-detail__title {
    flex: 0 1 144px;
}

.point-detail__price-section {
    flex: 0 1 361px;
}

.price-section__price {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #6A983C;
    margin-right: 12px;
}

.point-detail__logo {
    height: 16px;
    margin-left: auto;
}
