.cart-item__product-detail {
    display: flex;
}

.product-detail__message {
    text-align: center;
}

.product-detail__image-actions {
    width: 100px;
    margin-right: 16px;
}

.image-actions__image {
    width: 100%;
    height: 67px;
    object-fit: contain;
    margin-bottom: 12px;
}

.image-actions__remove-btn {
    width: 64px;
    height: 16px;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 16px;
    color: #A9A9A9;
    padding: 0;
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.remove-btn__icon {
    width: 6px;
    height: 6px;
    margin-right: 9px;
}

.product-detail__detail-actions {
    width: 251px;
}

.detail-actions__title {
    height: 23px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #151515;
}

.product-detail__product-data {
    height: 42px;
    flex: 0 0 251px;
    display: flex;
}

.product-data__title-list,
.product-data__value-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-data__title-list {
    flex: 0 1 74px;
}

.product-data__value-list {
    flex: 0 1 169px;
}

.title-list__elem {
    font-size: 12px;
    line-height: 16px;
    color: #A9A9A9;
}

.value-list__elem {
    font-size: 12px;
    line-height: 16px;
    color: #151515;
}

.product-data__price-choice {
    margin-top: 16px;
    display: flex;
    align-items: center;
}

.price-choice__price {
    flex: 0 1 155px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #6A983C;
}

.choice-quantity__quantity-selector {
    width: 96px;
    height: 32px;
    background: #F9F9F9;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0!important;
}

.quantity-selector__number-input {
    outline: none;
    width: 15%;
    font-size: 14px;
    line-height: 19px;
    color: #D1D1D1;
    background-color: inherit;
    border: none;
    padding: 0;
}

.quantity-selector__type-input {
    font-size: 14px;
    line-height: 19px;
    color: #D1D1D1;
}

.quantity-selector__separator {
    height: 18px;
    border-left: 1px solid #D1D1D1;
    margin-left: 6px;
}

.quantity-selector__type {
    width: 40px;
    outline: none;
    height: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #151515;
    border: none;
    background-color: inherit;
    margin-left: 4px;
}
