.content__category-info {
    height: 64px;
    display: flex;
    justify-content: space-between;
    margin: 8px 45px;
    align-items: center;
}

.category-info__title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #151515;
}

.category-info__count {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #6A983C;
}

.category-info__items {
    height: 16px;
    font-size: 12px;
    line-height: 16px;
    padding-left: 8px;
    color: #A9A9A9;
}

.category-info__items.category-info__items_padding-none {
    padding: 0;
}