.menu__button-more {
    margin-top: 36px;
    width: 167px;
    height: 48px;
    background-color: #F5F5F5;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: #151515;
}

.button-more__image {
    margin-left: 6px;
}
