.content__product-area {
    margin: 16px 45px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-area__image-block {
    flex: 1 2 569px;
    height: 436px;
}

.image-block__image {
    width: 100%;
    height: inherit;
    object-fit: contain;
}

.product-area__detail-block {
    flex: 1 1 574px;
    display: flex;
    flex-direction: column;
}

.detail-block__title {
    height: 45px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    color: #151515;
}

.detail-block__description {
    margin-top: 40px;
    font-size: 17px;
    line-height: 23px;
    color: #151515;
}

.detail-block__product-actions {
    flex: 0 0 89px;
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.product-actions__price {
    flex: 0 1 235px;
    padding-left: 16px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    color: #6A983C;
}

.product-actions__choice-quantity {
    flex: 0 0 111px;
}

.add-btn__plus-icon {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}
