.requisites-point__textarea-block {
    display: flex;
    flex-direction: column;
}

.textarea-block__label {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #151515;
}

.textarea-block__textarea {
    max-width: 670px;
    outline: none;
    min-height: 112px;
    border: 1px solid #D1D1D1;
    background: #F9F9F9;
    border-radius: 12px;
    font-family: Open Sans, serif;
    font-size: 14px;
    line-height: 19px;
    padding: 11px 16px 12px 21px;
    color: #A9A9A9;
    resize: none;
}
