.content__checkout {
    min-height: 2066px;
}

.checkout__partition {
    display: flex;
    justify-content: center;
    margin: 0 45px 0;
    flex-wrap: wrap;
}

.partition__requisites {
    max-width: 670px;
    flex: 0 1 670px;
    display: flex;
    flex-direction: column;
    margin: 16px 32px 16px 0;
}

@media screen and (max-width: 80em) {
    .partition__requisites {
        order: 2;
    }
}

.partition__order {
    max-width: 468px;
    flex: 0 1 468px;
    margin-top: 64px;
}

@media screen and (max-width: 80em) {
    .partition__order {
        order: 1;
    }
}

.requisites__requisites-point {
    margin-top: 64px;
}

.requisites-point__requisite-title {
    margin-bottom: 32px;
}

.requisite-title__title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #151515;
}

.requisite-title__help {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: Open Sans, serif;
    font-size: 12px;
    line-height: 16px;
    color: #A9A9A9;
    margin-top: 4px;
}



