.payment-form__requisites-point {
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
    margin-top: 16px;
}

.requisites-point__payment-point {
    display: flex;
    align-items: center;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 48px;
    background-color: #F9F9F9;
    border-radius: 12px;
}

.requisites-point__payment-point_background_white {
    background-color: #FFFFFF;
}

.payment-point__input {
    width: 100%;
    height: inherit;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.payment-point__checkmark {
    position: absolute;
    top: 12px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #FFFFFF;
    border: 2px solid #D1D1D1;
    border-radius: 50%;
    margin-left: 16px;
}

.payment-point__input:hover ~ .payment-point__checkmark {
    background-color: #ccc;
}

.payment-point__input:checked ~ .payment-point__checkmark {
    background-color: #FFFFFF;
    border: 5px solid #6A983C;
}

.payment-point__checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.payment-point__input:checked ~ .payment-point__checkmark:after {
    display: block;
}

.payment-point__form-detail {
    width: 100%;
    display: flex;
    margin: 0 16px 0 56px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #151515;
}

.form-detail__logo {
    height: 16px;
    margin-left: auto;
}

.requisites-point__info-block {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-block__message {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #CB2424;
}
