.category__menu {
    flex: 0 1 269px;
    margin-right: 2em;
}

.menu__title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #151515;
    margin-bottom: 16px;
}

.category-list__menu-item {
    margin-bottom: 12px;
    height: 19px;
}

.category-list__menu-item_with-quantity {
    display: flex;
    justify-content: space-between;
}
