.actions-block__search {
    /*width: 500px;*/
    flex: 0 3 500px;
    height: 42px;
    background: #F9F9F9;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 12px;
    margin-bottom: 8px;
}

.search__select-wrapper {
    display: inline;
    height: 23px;
    padding-right: 24px;
    margin-right: 24px;
    border-right: 1px solid #D1D1D1;
}

.select-wrapper__select {
    outline: none;
    width: 130px;
    height: 23px;
    margin: 10px 0 9px 16px;
    background-color: inherit;
    border: none;
}

.search__input {
    outline: none;
    width: 262px;
    height: 19px;
    font-size: 14px;
    line-height: 19px;
    color: #A9A9A9;
    border: none;
    padding: 0;
    background-color: inherit;
}

.search__button {
    display: inline;
    cursor: pointer;
    padding: 10px 8px 4px;
    border: none;
    background-color: inherit;
    border-radius: 12px;
}

.button__search-icon {
    width: 16px;
    height: 16px;
    padding: 0;
}
