.order__basket-block {
    display: flex;
    flex-direction: column;
    padding: 32px 16px 34px;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
}

.basket-block__order-title {
    margin-bottom: 40px;
}

.order-title__title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #151515;
}

.order-title__help {
    font-family: Open Sans, serif;
    font-size: 12px;
    line-height: 16px;
    color: #A9A9A9;
    margin-top: 4px;
}

.basket__calculation {
    width: 100%;
    height: 152px;
    margin-top: 40px;
}

.calculation__check-points {
    height: 78px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.check-points__points-item {
    display: flex;
    justify-content: space-between;
}

.points-item__item {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #151515;
}

.calculation__promo-code {
    margin-top: 32px;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
    background: #F9F9F9;
}

.promo-code__input {
    width: calc(2rem + 19vw);
    height: 42px;
    outline: none;
    background: none;
    border: none;
    font-family: Open Sans, serif;
    font-size: 14px;
    line-height: 19px;
    color: #A9A9A9;
    margin-left: 21px;
}

.promo-code__button {
    border: none;
    background: none;
    height: 42px;
    float: right;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: #151515;
    margin-right: 4px;
    padding: 0 12px;
    cursor: pointer;
}

.basket__total-order {
    height: 39px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-block__total {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #151515;
}

.detail-block__delivery {
    font-family: Open Sans, serif;
    font-size: 12px;
    line-height: 16px;
    color: #6A983C;
}

.total-order__value {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    color: #6A983C;
}
