.container {
  display: grid;
  margin: 0 auto;
  max-width: 1260px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  background-color: #FFFFFF;
  height: auto;
}

.container__content {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
}
