.category__product-grid {
    display: grid;
    grid-template-columns: repeat(3, 268px);
    grid-template-rows: auto;
    gap: 48px 32px;
}

@media screen and (max-width: 70em) and (min-width: 48em) {
    .category__product-grid {
        grid-template-columns: repeat(2, 268px);
    }
}

@media screen and (max-width: 48em) and (min-width: 20em) {
    .category__product-grid {
        grid-template-columns: repeat(1, 268px);
    }
}

.product-grid__product-unit {
    height: 323px;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
    flex: 0 0 269px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price-buy__buy-btn_middle-size {
    width: 214px;
    height: 47px;
}
