.user-panel__info {
    min-height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.info__list-left {
    display: flex;
    justify-content: space-between;
    flex: 0 2 375px;
}

.info__list-right {
    display: flex;
    justify-content: space-between;
    flex: 0 2 197px;
}

.item__info-links {
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
    color: #6A983C;
}

.item__info-links.item__info-links_font_black {
    color: #151515;
}