.choice-page__page-list {
    display: flex;
}

.page-list__page-number {
    display: block;
    padding-left: 8px;
    font-size: 12px;
    line-height: 16px;
    color: #151515;
}

.page-list__page-number_active {
    color: #6A983C;
}
