.container__cart-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    transition: 0.3s;
}

.cart-modal__content {
    width: 400px;
    height: 100vh;
    overflow: auto;
    background-color:#FFFFFF;
    box-shadow: 0 2px 32px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 1.1s ease-out;
    z-index: 20;
}

.content__cart-detail {
    margin: 24px 16px;
}

.cart-detail__title-block {
    display: flex;
    margin-bottom: 24px;
}

.title-block__title {
    width: 187px;
    height: 39px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    color: #151515;
}

.subtotal-actions__total {
    margin-left: 16px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}

.subtotal-actions__price {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    color: #151515;
    margin: 8px 0 0 16px;
}

.subtotal-actions__line {
    border: 1px solid #EBEBEB;
    margin-top: 24px;
}

.subtotal-actions__cart-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    margin: 15px 16px 16px;
}

.cart-actions__link {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    color: #151515;
    text-decoration: none;
}



