.modal {
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    padding: 20px;
    border-radius: 20px;
    background-color: #FFFFFF;
    transform: scale(0.5);
    transition: 0.3s all;
    color: #CB2424;
}

.modal__content.active {
    transform: scale(1);
}
