.nav-item {
    flex: 1;
    width: 100%;
    background-color: #FFF;
    border: 1px solid #EDEDED;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    outline: none;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-item.active {
    background-color: #6A983C;
    border-bottom-color: transparent;
    color: #FFF;
}

.vertical .nav-item {
    border-radius: 5px 0 0 5px;
}
