.product-unit__image {
    display: block;
    width: 236px;
    height: 180px;
    object-fit: contain;
}

.product-unit__info {
    flex: 0 1 43px;
}

.info__title {
    height: 23px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #151515;
    margin-bottom: 4px;
}

.info__description {
    font-size: 12px;
    line-height: 16px;
    color: #575757;
}

.info__price-buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-buy__price {
    height: 27px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}
