.choice-quantity__select-quantity {
    height: 48px;
    background: #F9F9F9;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
}

.select-quantity__input {
    outline: none;
    width: 20%;
    font-size: 14px;
    line-height: 19px;
    color: #D1D1D1;
    background-color: inherit;
    border: none;
    padding: 0;
}

.select-quantity__type {
    border: none;
    display: inline-flex;
    align-items: center;
    outline: none;
    height: 18px;
    border-left: 1px solid #D1D1D1;
    padding-left: 4px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #151515;
    background-color: inherit;
}

.choice-quantity__select-quantity.choice-quantity__select-quantity_cart {
    width: 96px;
    height: 32px;
}