.container__auth {
    position:fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.auth__form {
    width: 570px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background: #FFFFFF;
    transition: 1.1s ease-out;
}

.form__close {
    padding: 24px 16px 0;
    width: 100%;
}

.form__title {
    flex: 0 0 80px;
    font-size: 40px;
    line-height: 50px;
    color: #787878;
}

.form__field {
    display: flex;
    flex-direction: column;
    flex: 1 1 84px;
}

.form__field.form__field_small-height {
    flex: 1 1 35px;
    justify-content: flex-end;
}

.field__label {
    width: fit-content;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    color: #787878;
    margin-left: 8px;
    margin-bottom: 2px;
}

.field__input {
    outline: none;
    width: 480px;
    height: 40px;
    border: 2px solid #787878;
    border-radius: 10px;
    font-size: 22px;
    font-weight: bold;
    line-height: 36px;
    padding-left: 15px;
    color: #787878;
}

.field__input.field__input_border_color {
    border: 2px solid #CB2424;
}

.field__warning {
    font-size: 10px;
    line-height: 16px;
    font-weight: 500;
    color: #CB2424;
    height: 16px;
}

.field__warning.field__warning_bigger-font {
    font-size: 16px;
    height: 16px;
}

.form__action {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 0 1 120px;
}

.action__button {
    border: none;
    outline: none;
    width: 160px;
    height: 40px;
    background: #1A226B;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    line-height: 16px;
    color: #FFFFFF;
    cursor: pointer;
    margin-bottom: 10px;
}

.field__label::before {
    position: relative;
    content: "*";
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #CB2424;
}

.field__label.field__label_error-color::before,
.checkbox-wrapper__mark.field__label_error-color::before {
    color: #CB2424;
}

.field__label::before {
    top: 28px;
    left: -20px;
}

.checkbox-wrapper__mark::before {
    top: 2px;
    left: -14px;
}
