.title-block__close-btn {
    width: 59px;
    height: 39px;
    font-size: 12px;
    line-height: 16px;
    color: #D1D1D1;
    padding: 0;
    background-color: inherit;
    display: flex;
    align-items: center;
    margin-left: auto;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.close-btn__icon {
    width: 13px;
    height: 13px;
    margin-left: 10px;
}
