.requisites-point__confirmation {
    margin-bottom: 32px;
}

.requisites-point__safe-data {
    width: 213px;
    height: 113px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 32px;
}

.requisites-point__security-shield {
    width: 26px;
    height: 28px;
}

.requisites-point__title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #151515;
}

.requisites-point__manifest {
    height: 48px;
    font-family: Open Sans, serif;
    font-size: 12px;
    line-height: 16px;
    color: #A9A9A9;
    letter-spacing: .065em;
}
