.menu-item__link {
    font-size: 14px;
    line-height: 19px;
    color: #6A983C;
}

.menu-item__link.menu-item__link_no-link {
    color: #151515;
}

.menu-item__item-quantity {
    display: flex;
    justify-content: center;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #6A983C;
    width: 32px;
    height: 18px;
    background: #F4F8EC;
    border-radius: 12px;
}
