.container__header {
    min-height: 178px;
}

.header__user-panel {
    min-height: 178px;
    padding: 0 45px;
}

.user-panel__actions-block {
    min-height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.actions-block__logo {
    text-decoration: none;
    font-size: 2.5rem;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    color: #151515;
    padding: 16px 0;
}

.actions-block__actions {
    display: flex;
}

.actions__account-button {
    height: 44px;
    padding: 0;
    width: 64px;
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.basket-wrapper__button {
    position: absolute;
    opacity: 0;
    width: 44px;
    height: 44px;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 10;
    background-color: #FFFFFF;
    cursor: pointer;
}

.actions__basket-wrapper {
    position: relative;
    width: 44px;
    height: 44px;
    padding-left: 20px;
}

.basket-wrapper__circle {
    position: relative;
    top: 22px;
    right: 7px;
    width: 16px;
    height: 16px;
    background: #E6704B;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    z-index: 5;
}

.circle__counter {
    position: relative;
    bottom: .4em;
    left: 5px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}

.basket-wrapper__icon {
    position: absolute;
    bottom: 12px;
    display: block;
    height: 24px;
    width: 24px;
    z-index: 1;
}

.user-panel__separator {
    height: 2px;
    background: #151515;
    border: 1px solid #151515;
    width: 100%;
    opacity: 0.05;
}
