.requisites-point__billing-forms {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin: 32px 0;
}

.billing-forms__input-block {
    display: flex;
    flex-direction: column;
    flex: 1 1 60px;
}

.input-block__label {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #151515;
}

.input-block__input, .input-block__select {
    width: 100%;
    outline: none;
    height: 42px;
    border: 1px solid #D1D1D1;
    background: #F9F9F9;
    border-radius: 12px;
    font-family: Open Sans, serif;
    font-size: 14px;
    line-height: 19px;
    padding: 11px 16px 12px 21px;
    color: #151515;
}

.input-block__input::-webkit-input-placeholder {
    color: #A9A9A9;
}
.input-block__input::-moz-placeholder {
    color: #A9A9A9;
}

.input-block__input:focus, .input-block__select:focus {
    box-shadow: 0 0 0.5pt 1.5pt #76afee;
}

.input-block__input:focus {
    background: #FFFFFF;
}

.input-block__select {
    display: grid;
    grid-template-areas: "select";
    align-items: center;
}

.input-block__select::after {
    content: "";
    width: 0.46em;
    height: 0.74em;
    color: #151515;
    background: url(../../assets/icons/ic-chevron-top-button.svg) no-repeat;
    background-size: contain;
    justify-self: end;
}

.select__state,
.input-block__select:after {
    grid-area: select;
}

.select__state {
    appearance: none;
    width: 100%;
    outline: none;
    border: none;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}
