.category__pagination {
    margin: 0 45px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination__choice-page {
    display: flex;
    height: 16px;
}

.buy-btn__image {
    margin-left: 6px;
}
