.header__nav-block {
    padding: 0 45px;
    background-color: #F9F9F9;
}

.nav-block__horizontal-menu {
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
}

.horizontal-menu__menu-item {
    margin-right: 40px;
}

.menu-item__menu-link {
    text-decoration: none;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #151515;
}

.horizontal-menu__icon {
    margin-left: 2px;
}
