.requisites-point__payment-form {
    margin: 16px;
}

.payment-form__inputs-block {
    display: flex;
    margin-top: 32px;
}

.inputs-block__card-holder {
    flex: 0 1 350px;
    margin-right: 32px;
}

.inputs-block__expire-date {
    flex: 0 0 120px;
    margin-right: 16px;
}

.inputs-block__card-cvc {
    flex: 0 0 120px;
}
