.requisites-point__checkbox-wrapper {
    position: relative;
    width: fit-content;
    height: 42px;
    display: flex;
    align-items: center;
    margin-top: 16px;
    background: #F9F9F9;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
}

.checkbox-wrapper__checkbox {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 10;
    cursor: pointer;
}

.checkbox-wrapper__mark {
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid #D1D1D1;
    margin: 0 8px 0 16px;
}

.checkbox-wrapper__label {
    width: fit-content;
    font-family: Open Sans, serif;
    font-size: 14px;
    line-height: 19px;
    color: #151515;
    letter-spacing: .065em;
    margin-right: 16px;
}

.checkbox-wrapper__checkbox:checked + .checkbox-wrapper__mark::after {
    content: '✓';
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Abyssinica SIL", sans-serif;
    font-size: 22px;
    line-height: 18px;
    width: 17px;
    height: 17px;
    color: #787878;
}
