.footer__links-block {
    display: flex;
    flex: 1 0 202px;
    flex-wrap: wrap;
}

@media screen and (max-width: 48em) and (min-width: 20em) {
    .footer__links-block {
        justify-content: space-between;
    }
}

.links-block__touch {
    flex: 0 1 328px;
}

@media screen and (max-width: 48em) and (min-width: 20em) {
    .links-block__touch {
        flex: 0 1 170px;
        margin-bottom: 1.5em;
    }
}

.links-block__connections {
    flex: 0 1 321px;
}

@media screen and (max-width: 48em) and (min-width: 20em) {
    .links-block__connections {
        flex: 0 1 170px;
        margin-bottom: 1.5em;
    }
}

.links-block__earning {
    flex: 0 1 324px;
}

@media screen and (max-width: 48em) and (min-width: 20em) {
    .links-block__earning {
        flex: 0 1 170px;
        margin-bottom: 1.5em;
    }
}

@media screen and (max-width: 48em) and (min-width: 20em) {
    .links-block__account {
        flex: 0 1 170px;
        margin-bottom: 1.5em;
    }
}

.touch__title {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #151515;
}
