.price-buy__buy-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 36px;
    background: #6A983C;
    border: 2px solid #46760A;
    border-radius: 12px;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 22px;
    cursor: pointer;
}

.price-buy__buy-btn:hover {
    opacity: .7;
    transition: opacity 200ms;
}

.price-buy__buy-btn:focus {
    outline: none;
    border: none;
    box-shadow: 0 0 0.5pt 1.5pt #76afee;
    opacity: .8;
}

.price-buy__buy-btn[disabled] {
    color: #A9A9A9;
    background: #c3dac1;
    border: 2px solid #acc58a;
    cursor: not-allowed;
}

.price-buy__buy-btn.price-buy__buy-btn_more-books {
    width: 214px;
    height: 47px;
}

.price-buy__buy-btn.price-buy__buy-btn_to-cart {
    flex: 0 0 140px;
    height: 47px;
}

.price-buy__buy-btn.price-buy__buy-btn_to-checkout {
    width: 150px;
    height: 48px;
}

.price-buy__buy-btn.price-buy__buy-btn_checkout {
    width: 218px;
    height: 56px;
}
