.detail-block__product-detail {
    display: flex;
    justify-content: space-between;
    flex: 0 1 112px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.product-detail__feature {
    flex: 0 0 269px;
    display: flex;
    justify-content: space-between;
}

.future__title-list,
.future__value-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.future__value-list {
    flex: 0 1 169px;
}

.value-list__item {
    font-size: 14px;
    line-height: 19px;
    color: #151515;
}
