.footer__tags-block {
    margin: 48px 0;
    flex: 1 0 fit-content;
    width: inherit;
}

.tags-block__title {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0;
    text-align: left;
}

.tags-block__list {
    flex: 1 0 84px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.list__tag {
    height: 26px;
    background: #F5F5F5;
    border-radius: 12px;
    margin: 16px 16px 0 0;
}

.tag__link {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-self: center;
    height: 18px;
    padding: 4px 10px;
    color: #151515;
    text-decoration: none;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
}
